
/* CSS for textfields */
.input-number
{
    width : 30%;
    height: 10%;
    border-radius: 12px;
    border: 1px solid #CCC;
    font-size: 25px;
    font-family: Verdana;
    text-align: center;
    box-shadow: 1px 1px 5px #CCC;
    display: block;
    margin: 0 auto;

}

.input-number:hover
{
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aac;
}

.input-card
{
    width : 35%;
    height: 10%;
    border-radius: 3px;
    border: 1px solid #CCC;
    font-size: 25px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    display: block;
    margin: 0 auto;
}

.input-card:hover
{
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aac;
}


/* CSS for buttons */
input[type='file']
{
    width : 20%;
    height: 15%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    background-color:#CCC;
    font-size: 16px;
    font-family: serif, Helvetica, Arial;
    font-style: normal;
    border-radius: 12px;

    -webkit-transition: background-color 0.8s ease;
}

input[type='file']:hover
{
    width : 20%;
    height: 15%;
    border: 2px solid white;
    background-color:#000000;
    color:#fff;
}

input[type='submit'], input[type='button']
{
    border-radius: 8px;
    width : 15%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    background-color:#CCC;
    font-size: 20px;
    font-family: serif, Helvetica, Arial;
    font-style: normal;
    font-weight: bold;

    -webkit-transition: background-color 0.8s ease;
}

input[type='submit']:hover, input[type='button']:hover
{
    border: 2px solid white;
    background-color:#000000;
    color:#fff;
}

label {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: bold;
    font-size  : 18px;
    display: block;
    text-align: center;
}

.title {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: normal;
    font-size  : 40px;
    padding-top: 5%;
    text-align: center;
}

.subtitle {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: normal;
    font-size  : 30px;
    text-align: center;
}

.simple-text {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-size  : 20px;
    text-align: center;
}

/* lists */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}