{% extends "layout.html" %}
{% block title %}Card Validator Results{% endblock %}
{% block content %}
{% if cards_validated is iterable %}
    {% for card_validated, value in cards_validated.items()|reverse %}
        <p>{{card_validated}} - {{value}}</p><br>
    {% endfor %}
{% endif %}
<hr>
<p><a href="/">Home</a></p>
{% endblock %}