/* CLASSES */
.number-box {
    width : 30%;
    height: 10%;
    border-radius: 12px;
    border: 1px solid #CCC;
    font-size: 25px;
    font-family: Verdana;
    text-align: center;
    box-shadow: 1px 1px 5px #CCC;
    display: block;
    margin: 0 auto;
}

.number-box:hover {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aac;
}

.not-found {
    color: red !important;
    display: block;
    text-align: center;
    font-weight: bold;
}

.card-invalid {
    color: red !important;
}

.card-result {
    font-weight: bold;
}

.divisor {
    width: 35%;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.mini-divisor {
    width: 8%;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.title {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: normal;
    font-size  : 40px;
    padding-top: 2%;
    text-align: center;
}

.subtitle {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: normal;
    font-size  : 30px;
    text-align: center;
}

.simple-text {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-size  : 20px;
    text-align: center;
}

/* ID's */
#cards-list {
    width : 40%;
    height: 10%;
    border-radius: 3px;
    border: 1px solid #CCC;
    font-size: 25px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #CCC;
    text-align: center;
    display: none;
    margin: 0 auto;
}

#cards-list:hover {
    border: 1px solid #aaa;
    box-shadow: 1px 1px 5px #aac;
}

/* ELEMENTS */
input[type='file'] {
    width : 20%;
    height: 15%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    background-color:#CCC;
    font-size: 16px;
    font-family: serif, Helvetica, Arial;
    font-style: normal;
    border-radius: 12px;

    -webkit-transition: background-color 0.8s ease;
}

input[type='file']:hover {
    width : 20%;
    height: 15%;
    border: 2px solid white;
    background-color:#000000;
    color:#fff;
}

input[type='submit'], input[type='button'] {
    border-radius: 8px;
    width : 15%;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    background-color:#CCC;
    font-size: 20px;
    font-family: serif, Helvetica, Arial;
    font-style: normal;
    font-weight: bold;

    -webkit-transition: background-color 0.8s ease;
}

input[type='submit']:hover, input[type='button']:hover {
    border: 2px solid white;
    background-color:#000000;
    color:#fff;
}

label {
    font-family: serif, Helvetica, Arial;
    font-style : normal;
    font-weight: bold;
    font-size  : 18px;
    display: block;
    text-align: center;
}

ul {
    list-style-type: none;
}

li p {
    text-decoration: none;
    padding-top: 10px;
    margin: auto;
    color: #000;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    width: 70%;
}

li p:hover {
    font-size: 30px;
    background: #f6f6f6;
}